.Departures {
  &__selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  &__details {
    display: inline-block;
  }

  &__time {
    &--realTime {
      color: limegreen !important;
    }

    &--oneMinuteLeft {
      color: red !important;
    }
  }
}
