<ion-navbar *navbar>
    <button menuToggle *ngIf="!selectedItem">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rozkład przystanku</ion-title>
</ion-navbar>
<ion-content>
    <div *ngIf="selectedItem" class="Departures__selection">
        <b>{{selectedItem.name}}</b>
        <ion-icon name="{{selectedItem.icon}}"></ion-icon>
    </div>
    <br>
    <ion-list [virtualScroll]="timetable">
        <ion-item *virtualItem="#departure">
            <ion-avatar item-left>
                <h1 class="busNumber">{{ departure.busNumber }}</h1>
            </ion-avatar>
            <h2>{{ departure.destination }}</h2>
            <p class="Departures__details" [ngClass]="{
            'Departures__time--realTime': isDepartureImminent(departure.time),
            'Departures__time--oneMinuteLeft': isOneMinuteLeft(departure.time)
            }">{{ departure.time }}</p>
            <span style="font-size: 1.4rem; margin: 0 0 2px;"><ion-icon name="cart" *ngIf="departure.hasVendingMachine"></ion-icon></span>
        </ion-item>
    </ion-list>
</ion-content>
