<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Przystanki</ion-title>
</ion-navbar>
<ion-searchbar [(ngModel)]="searchQuery" (input)="filterBusStops($event)"></ion-searchbar>
<ion-content>
    <ion-list [virtualScroll]="busStopList">
        <button ion-item *virtualItem="#item" (click)="onBusStopTap($event, item)">
            <ion-icon name="pin" item-left></ion-icon>
            {{item.name}}
            <div class="item-note" item-right>
                {{item.id}}
            </div>
        </button>
    </ion-list>
</ion-content>
